
  {% render 'gp-head', isThemeSection: true %}
  
      <style>
        @font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-497095183448408969 .pointer-events-auto{pointer-events:auto}.gps-497095183448408969 .invisible{visibility:hidden}.gps-497095183448408969 .absolute{position:absolute}.gps-497095183448408969 .relative{position:relative}.gps-497095183448408969 .z-1{z-index:1}.gps-497095183448408969 .mx-auto{margin-left:auto;margin-right:auto}.gps-497095183448408969 .mb-0{margin-bottom:0}.gps-497095183448408969 .\!inline{display:inline!important}.gps-497095183448408969 .flex{display:flex}.gps-497095183448408969 .inline-flex{display:inline-flex}.gps-497095183448408969 .grid{display:grid}.gps-497095183448408969 .h-5{height:20px}.gps-497095183448408969 .h-full{height:100%}.gps-497095183448408969 .w-5{width:20px}.gps-497095183448408969 .w-full{width:100%}.gps-497095183448408969 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-497095183448408969 .animate-spin{animation:spin 1s linear infinite}.gps-497095183448408969 .flex-col{flex-direction:column}.gps-497095183448408969 .items-center{align-items:center}.gps-497095183448408969 .justify-center{justify-content:center}.gps-497095183448408969 .gap-y-0{row-gap:0}.gps-497095183448408969 .overflow-hidden{overflow:hidden}.gps-497095183448408969 .break-words{overflow-wrap:break-word}.gps-497095183448408969 .rounded-none{border-radius:0}.gps-497095183448408969 .no-underline{text-decoration-line:none}.gps-497095183448408969 .opacity-25{opacity:.25}.gps-497095183448408969 .opacity-75{opacity:.75}.gps-497095183448408969 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497095183448408969 .duration-200{transition-duration:.2s}.gps-497095183448408969 .duration-300{transition-duration:.3s}.gps-497095183448408969 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497095183448408969 .disabled\:btn-disabled:disabled{cursor:default}.gps-497095183448408969 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-497095183448408969 .disabled\:opacity-30:disabled{opacity:.3}.gps-497095183448408969 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-497095183448408969 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-497095183448408969 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497095183448408969 .\[\&_p\]\:inline p{display:inline}.gps-497095183448408969 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-497095183448408969 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497095183448408969 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gXOFR3Qrl7"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXOFR3Qrl7 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gsD5Uww5bY relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gEOACvSpXK"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1300px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEOACvSpXK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwqXzO_OFw relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gDIJ-3RElh"
    style="--ml:0px;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "497095124644267144-2286f8de-1aaa-4b43-a7d9-b83c80452996.png" | asset_url }}" data-srcset="{{ '497095124644267144-2286f8de-1aaa-4b43-a7d9-b83c80452996.png' | asset_img_url: '768x768' }} 768w, {{ '497095124644267144-2286f8de-1aaa-4b43-a7d9-b83c80452996.png' | asset_img_url: '1024x1024' }} 1024w, {{ '497095124644267144-2286f8de-1aaa-4b43-a7d9-b83c80452996.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="756" height="614" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:756/614;--aspect-tablet:756/614;--aspect-mobile:756/614;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      pageContext parentTag="Col"
        class="gHlda5IxcZ "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:40px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Chic Apparel Collection</p>
        </h2>
      </div>
    </div>
    <div
      pageContext parentTag="Col"
        class="gI2c5eFrWA "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Elevate your wardrobe with our chic apparel collection, curated to reflect the latest trends while ensuring comfort and versatility for every occasion.</p>
        </div>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-button.js" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"Shop the newest collection","btnLink":{"link":"/collections/new-arrivals","target":"_self","title":"New Arrivals"},"iconVisible":false,"iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconAlign":"left","htmlType":"button","disabled":false}}'>
  <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <style>
    .gB1IPktMt1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gB1IPktMt1:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/collections/new-arrivals" target="_self" data-id="gB1IPktMt1" aria-label="Shop the newest collection"
      data-state="idle"
      class="gB1IPktMt1 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--bg:rgba(18, 18, 18, 0);--hvr-bg:rgba(18, 18, 18, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#121212;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:16px;--pt:0px;--pb:0px;--tt:default;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:22px;--size-tablet:16px;--size-mobile:14px;--tdl:underline"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Shop the newest collection
      </span>
    </a>
  </div>
  </gp-button>
  
    </div><div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gIpepeGfli relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gK8ZYRtqew"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "497095124644267144-c9e9bc9a-3783-4c7a-b3b6-a0c795bd9819.png" | asset_url }}" data-srcset="{{ '497095124644267144-c9e9bc9a-3783-4c7a-b3b6-a0c795bd9819.png' | asset_img_url: '768x768' }} 768w, {{ '497095124644267144-c9e9bc9a-3783-4c7a-b3b6-a0c795bd9819.png' | asset_img_url: '1024x1024' }} 1024w, {{ '497095124644267144-c9e9bc9a-3783-4c7a-b3b6-a0c795bd9819.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="756" height="614" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:756/614;--aspect-tablet:756/614;--aspect-mobile:756/614;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      pageContext parentTag="Col"
        class="gRCuV7ord4 "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:130%;--size:40px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Step into Elegance - Shoe Boutique</p>
        </h2>
      </div>
    </div>
    <div
      pageContext parentTag="Col"
        class="gLFsdfyIml "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Walk with confidence in our shoe haven, where style meets comfort. Our diverse range of footwear ensures that you make a statement with every step.</p>
        </div>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-button.js" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"Shop the deals","btnLink":{"link":"/collections/sale-1","target":"_self","title":"SALE"},"iconVisible":false,"iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconAlign":"left","htmlType":"button","disabled":false}}'>
  <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class=""
  >
    <style>
    .gERRzu09f1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gERRzu09f1:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/collections/sale-1" target="_self" data-id="gERRzu09f1" aria-label="Shop the deals"
      data-state="idle"
      class="gERRzu09f1 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--bg:rgba(18, 18, 18, 0);--hvr-bg:rgba(18, 18, 18, 0);--radius:var(--g-radius-small);--shadow:none;--c:#121212;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:22px;--size-tablet:16px;--size-mobile:14px;--tdl:underline"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Shop the deals
      </span>
    </a>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "Section - Jan 20 23:16:51"
      }
    ],
    
    "name": "Section - Jan 20 23:16:51",
    "tag": "section",
    "class": "gps-497095183448408969 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ada-li-luxury-shop/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=497095183448408969)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
