
  {% render 'gp-head', isThemeSection: true %}
  
  <style>
    .gps-499542345570583325 .-translate-y-1\/2,.gps-499542345570583325 .mobile\:-translate-y-1\/2,.gps-499542345570583325 .mobile\:rotate-0,.gps-499542345570583325 .mobile\:rotate-180,.gps-499542345570583325 .mobile\:translate-x-0,.gps-499542345570583325 .mobile\:translate-y-1\/2,.gps-499542345570583325 .rotate-0,.gps-499542345570583325 .rotate-180,.gps-499542345570583325 .tablet\:-translate-y-1\/2,.gps-499542345570583325 .tablet\:rotate-0,.gps-499542345570583325 .tablet\:rotate-180,.gps-499542345570583325 .tablet\:translate-x-0,.gps-499542345570583325 .tablet\:translate-y-1\/2,.gps-499542345570583325 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-499542345570583325 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-499542345570583325 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-499542345570583325 .pointer-events-auto{pointer-events:auto}.gps-499542345570583325 .absolute{position:absolute}.gps-499542345570583325 .relative{position:relative}.gps-499542345570583325 .bottom-1\/2{bottom:50%}.gps-499542345570583325 .left-4{left:16px}.gps-499542345570583325 .right-4{right:16px}.gps-499542345570583325 .top-1\/2{top:50%}.gps-499542345570583325 .z-1{z-index:1}.gps-499542345570583325 .z-2{z-index:2}.gps-499542345570583325 .mx-auto{margin-left:auto;margin-right:auto}.gps-499542345570583325 .my-0{margin-bottom:0;margin-top:0}.gps-499542345570583325 .mb-0{margin-bottom:0}.gps-499542345570583325 .mt-2{margin-top:8px}.gps-499542345570583325 .block{display:block}.gps-499542345570583325 .\!inline{display:inline!important}.gps-499542345570583325 .flex{display:flex}.gps-499542345570583325 .inline-flex{display:inline-flex}.gps-499542345570583325 .grid{display:grid}.gps-499542345570583325 .\!hidden{display:none!important}.gps-499542345570583325 .hidden{display:none}.gps-499542345570583325 .aspect-square{aspect-ratio:1/1}.gps-499542345570583325 .h-6{height:24px}.gps-499542345570583325 .h-full{height:100%}.gps-499542345570583325 .w-6{width:24px}.gps-499542345570583325 .w-\[12px\]{width:12px}.gps-499542345570583325 .w-full{width:100%}.gps-499542345570583325 .max-w-full{max-width:100%}.gps-499542345570583325 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-499542345570583325 .-translate-y-1\/2,.gps-499542345570583325 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .translate-y-1\/2{--tw-translate-y:50%}.gps-499542345570583325 .rotate-0{--tw-rotate:0deg}.gps-499542345570583325 .rotate-0,.gps-499542345570583325 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .rotate-180{--tw-rotate:180deg}.gps-499542345570583325 .cursor-pointer{cursor:pointer}.gps-499542345570583325 .flex-row{flex-direction:row}.gps-499542345570583325 .flex-col{flex-direction:column}.gps-499542345570583325 .items-center{align-items:center}.gps-499542345570583325 .justify-center{justify-content:center}.gps-499542345570583325 .gap-2{gap:8px}.gps-499542345570583325 .gap-y-0{row-gap:0}.gps-499542345570583325 .overflow-hidden{overflow:hidden}.gps-499542345570583325 .rounded-full{border-radius:9999px}.gps-499542345570583325 .text-center{text-align:center}.gps-499542345570583325 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-499542345570583325 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-499542345570583325 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-499542345570583325 .duration-200{transition-duration:.2s}.gps-499542345570583325 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-499542345570583325 .disabled\:cursor-default:disabled{cursor:default}.gps-499542345570583325 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-499542345570583325 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-499542345570583325 .tablet\:bottom-1\/2{bottom:50%}.gps-499542345570583325 .tablet\:left-4{left:16px}.gps-499542345570583325 .tablet\:right-4{right:16px}.gps-499542345570583325 .tablet\:top-1\/2{top:50%}.gps-499542345570583325 .tablet\:mt-2{margin-top:8px}.gps-499542345570583325 .tablet\:block{display:block}.gps-499542345570583325 .tablet\:\!flex{display:flex!important}.gps-499542345570583325 .tablet\:\!hidden{display:none!important}.gps-499542345570583325 .tablet\:w-full{width:100%}.gps-499542345570583325 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-499542345570583325 .tablet\:-translate-y-1\/2,.gps-499542345570583325 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-499542345570583325 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-499542345570583325 .tablet\:rotate-0,.gps-499542345570583325 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .tablet\:rotate-0{--tw-rotate:0deg}.gps-499542345570583325 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .tablet\:flex-row{flex-direction:row}.gps-499542345570583325 .tablet\:px-0{padding-left:0;padding-right:0}.gps-499542345570583325 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-499542345570583325 .mobile\:bottom-1\/2{bottom:50%}.gps-499542345570583325 .mobile\:left-4{left:16px}.gps-499542345570583325 .mobile\:right-4{right:16px}.gps-499542345570583325 .mobile\:top-1\/2{top:50%}.gps-499542345570583325 .mobile\:mt-2{margin-top:8px}.gps-499542345570583325 .mobile\:block{display:block}.gps-499542345570583325 .mobile\:\!flex{display:flex!important}.gps-499542345570583325 .mobile\:\!hidden{display:none!important}.gps-499542345570583325 .mobile\:w-full{width:100%}.gps-499542345570583325 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-499542345570583325 .mobile\:-translate-y-1\/2,.gps-499542345570583325 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-499542345570583325 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-499542345570583325 .mobile\:rotate-0,.gps-499542345570583325 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .mobile\:rotate-0{--tw-rotate:0deg}.gps-499542345570583325 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-499542345570583325 .mobile\:flex-row{flex-direction:row}.gps-499542345570583325 .mobile\:px-0{padding-left:0;padding-right:0}.gps-499542345570583325 .mobile\:pl-1{padding-left:4px}}.gps-499542345570583325 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-499542345570583325 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-499542345570583325 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-499542345570583325 .\[\&_p\]\:inline p{display:inline}.gps-499542345570583325 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-499542345570583325 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gPRzCJbMrN"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPRzCJbMrN mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0RUVgoaS- relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gWNfVJAWIQ"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWNfVJAWIQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQiPUAYjlB relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gOyyUNiUsQ-{{section.id}}" class=" "  gp-data='{"id":"gOyyUNiUsQ-{{section.id}}","setting":{"slidesToShow":{"desktop":1,"tablet":1,"mobile":1},"childItem":["Slide 1","Slide 3","Slide 2"],"vertical":{"desktop":false},"enableDrag":false,"loop":{"desktop":true},"autoplay":true,"pauseOnHover":true,"autoplayTimeout":3,"controlOverContent":{"desktop":true},"dot":{"desktop":true,"tablet":true,"mobile":true},"arrow":{"desktop":false},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowCustomColor":"#000000","background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}}},"styles":{"fullWidth":{"desktop":true},"adaptiveHeight":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":"16"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block mx-auto gOyyUNiUsQ"
        style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-gOyyUNiUsQ-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext parentTag="Carousel"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- gfWEbMJ2Jz"
    >
      
    <div
      pageContext parentTag="CarouselItem"
        class="gVlBkdkt16 "
        style="--ta:left;--mt:150px;--ml:auto;--mb:auto;--mr:auto;--pt:auto;--pl:auto;--pb:auto;--pr:auto;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pos:static;--top:undefined"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p><span style="font-size:40px;">"That is an amazing review for your shop!”</span></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p><span style="font-size:40px;">Jenny S.</span></p>
        </div>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext parentTag="Carousel"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- ghxkBDcxKk"
    >
      
    <div
      pageContext parentTag="CarouselItem"
        class="gOEKfj4iDE "
        style="--ta:left;--mt:150px;--ml:auto;--mb:auto;--mr:auto;--pt:auto;--pl:auto;--pb:auto;--pr:auto;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pos:static;--top:undefined"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p><span style="font-size:40px;">"That is an amazing review for your shop!”</span></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p><span style="font-size:40px;">John B.</span></p>
        </div>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      pageContext parentTag="Carousel"
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      class="gem-slider-item w-full gem-slider-item- g2hG1Bb-gk"
    >
      
    <div
      pageContext parentTag="CarouselItem"
        class="gXGWOM2rzG "
        style="--ta:left;--mt:150px;--ml:auto;--mb:auto;--mr:auto;--pt:auto;--pl:auto;--pb:auto;--pr:auto;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pos:static;--top:undefined"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p><span style="font-size:40px;">"That is an amazing review for your shop!”</span></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p><span style="font-size:40px;">Robbert A.</span></p>
        </div>
      </div>
    </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gOyyUNiUsQ-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style="--c:#000000"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gOyyUNiUsQ-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style="--c:#000000"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gOyyUNiUsQ-{{section.id}} flex flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div><div
      pageContext tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g9PLagejcw relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gsi80VaM_K"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "497095124644267144-95c0a776-8590-4a9a-856d-a2762f1d9c62.png" | asset_url }}" data-srcset="{{ '497095124644267144-95c0a776-8590-4a9a-856d-a2762f1d9c62.png' | asset_img_url: '768x768' }} 768w, {{ '497095124644267144-95c0a776-8590-4a9a-856d-a2762f1d9c62.png' | asset_img_url: '1024x1024' }} 1024w, {{ '497095124644267144-95c0a776-8590-4a9a-856d-a2762f1d9c62.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="544" height="488" alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:544/488;--aspect-tablet:544/488;--aspect-mobile:544/488;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "Section - Feb 6 20:27:18"
      }
    ],
    
    "name": "Section - Feb 6 20:27:18",
    "tag": "section",
    "class": "gps-499542345570583325 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ada-li-luxury-shop/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=499542345570583325)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
